.article {
  background-color: black;
  color: white;
  padding: 25px 50px;
}

.header {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header span {
  background-color: red;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 900;
}

.header h2 {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0 0;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  text-align: center;
}

.footer .buffer {
  padding: 0 8px;
}
