@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");
/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); */

body {
  font-family: "NanumSquareRound", "Spoqa Han Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-seri;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
